body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary;
}

.heading-primary {
  color: $color-primary;

  &--main {
    font-size: 6rem;
    display: block;
  }

  &--sub {
    font-size: 3rem;
    display: block;
  }
}

.heading-secondary {
  font-size: 4rem;
}
