.section1 {
  width: 100%;
  height: 50rem;
  background-image: linear-gradient(to right, rgba(gray, 0.3), darkgrey);
  padding: 6rem 3rem;
}

.section2 {
  width: 100%;
  height: 50rem;
  background-image: linear-gradient(
    to bottom right,
    rgba($color-primary, 0.5),
    rgba($color-secondary, 0.5)
  );
  padding: 6rem 3rem;
}

.footer {
  width: 100%;
  height: 20rem;
  background-color: #222;
  padding: 6rem 3rem;
}
